assignment10/assignment10/web/WEB-INF/wsdl/xsd/Course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jw.nju.edu.cn/schema" targetNamespace="http://jw.nju.edu.cn/schema" elementFormDefault="qualified">
	<element name="课程" type="tns:课程类型"/>
	<complexType name="课程类型">
		<sequence>
			<element name="课程编号" type="tns:课程编号类型"/>
			<element name="课程讲师" type="string"/>
		</sequence>
	</complexType>
	<simpleType name="课程编号类型">
		<restriction base="string">
			<length value="5"/>
		</restriction>
	</simpleType>
</schema>
