assignment8/作业8/src/xsd/VerifyResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	 targetNamespace="http://jw.nju.edu.cn/schema" 
	 xmlns:tns="http://jw.nju.edu.cn/schema"
	 elementFormDefault="qualified">
	 
	 <element name="验证结果" type="tns:验证结果类型"/>
	 
	 <complexType name="验证结果类型">
	 	<choice>
	 		<element name="验证失败" type="tns:验证失败类型"/>
	 		<element name="验证成功" type="string"/>
	 	</choice>
	 </complexType>
	 
	 <complexType name="验证失败类型">
	 	<choice>
	 		<element name="学号不存在"/>
	 		<element name="密码错误"/>
	 	</choice>
	 </complexType>
</schema>